@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    background: linear-gradient(135deg, $background-dark 0%, $background-darker 100%);
    color: $text-light;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
}
